aiofiles==25.1.0
e==1.4.5
iniconfig==2.3.0
MarkupSafe==3.0.3
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pyngrok==8.1.2
pytest==9.0.3
PyYAML==6.0.3
qrcode==8.2
qrtunnel @ file:///home/ani/qrtunnel
ruff==0.15.12
smart_open==7.6.0
streaming-form-data==2.0.0
Werkzeug==3.0.6
wrapt==2.1.2
